{% extends 'SSO/base_admin.html' %}
{% load crispy_forms_tags%}
{%  load static %}
{% block title %}Crear Proyecto{% endblock %}
{% block content %}
    <div class="container mt-3">
        <h3>Crear Proyecto</h3><hr>
        {%  if mensajeError %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error</h4>
                <p>{{mensajeError}}</p>
            </div>
        {% endif %}
        <form method="POST" class="col-12 col-md-8 mx-auto border rounded bg-white p-4">
            {% csrf_token %}
            <div class=" col-12 text-muted mb-4 font-italic">Ingrese un nombre, una descipción y un usuario Scrum Master para el proyecto.</div>
            <div class="col-12 col-md-10 mx-auto">{{ form|crispy }}</div>
            <button type="submit" class="btn btn-primary bg-color-accent col-8 col-md-5 mx-auto">Crear Proyecto</button>
        </form>
    </div>
{% endblock %}