{% extends 'SSO/base_admin.html' %}
{% load crispy_forms_tags /base_admin.html%}
{%  load static %}
{% block title %}Crear Proyecto{% endblock %}
{% block content %}
    <div class="container mt-3">
        <h3>Crear Proyecto</h3><hr>
        {%  if mensajeError %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error</h4>
                <p>{{mensajeError}}</p>
            </div>
        {% endif %}
        <form method="POST" class="col-12 col-md-8 mx-auto border rounded bg-white p-4">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary bg-color-accent col-5" type="submit">Crear</button>
            <a class="btn btn-danger col-5">Cancelar</a>
        </form>
    </div>
{% endblock %}