{% extends 'SSO/base_usuarios.html' %}
{% load auth_extras %}
{% load crispy_forms_tags %}

{% block title %}Proyectos de Sistema {% endblock %}

{% block content %}
    <style>
        [data-toggle="collapse"] .fa:before {
            content: "\f077";

        }

        [data-toggle="collapse"].collapsed .fa:before {
            content: "\f078";

        }
    </style>
    <div >
        <div class="row">
            <h3 class="col-12 col-md-10">Proyectos asignados a {{request.user.username}}</h3>
            <!-- Falta agregar condicion para que esta opcion no se muestre si no se tiene el permiso -->
        </div>
            <hr>
        {% if messages %}

                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                {% endif %}

                {% endfor %}

        {% endif %}

        <div id="crearProyecto" class="col-10 mx-auto">
            {% for proyecto in proyectos %}
                <div class="card" style="margin:10px">
                    <div class="card-header bg-color-primary" id="header_proyecto_{{ proyecto.id }}">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                {{proyecto.nombre}}
                            </div>
                            <div class="col-auto">
                                <a href="{% url 'mostrarProyecto' proyecto.id %}" class="btn btn-primary ml-3 bg-color-danger border-0">Ir al proyecto</a>
                                <!-- {% if proyecto.scrumMaster == request.user %} -->
                                    <!-- <a href="{% url 'asignar_miembro' proyecto.id %}" class="btn btn-primary ml-3 bg-color-danger border-0">Asignar miembros</a> -->
                                <!-- {% endif %} -->
                            </div>
                        </div>
                    </div>
                    <div id="collapse_proyecto_{{ proyecto.id }}" class="" aria-labelledby="header_proyecto_{{ proyecto.id }}" data-parent="#listarProyectos">
                        <div class="card-body row">
                            <div class="col-12 "><u>Descripción: </u><p>{{ proyecto.descripcion }}</p>
                            </div>
                        </div>
                    </div>
                    <div id="collapse_proyecto_{{ proyecto.id }}" class="" aria-labelledby="header_proyecto_{{ proyecto.id }}" data-parent="#listarProyectos">
                        <div class="card-body row">
                            <div class="col-12 "><u>Scrum Master: </u><p>{{ proyecto.scrumMaster }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </br> 
    <div class="col-10 mx-auto">
        <svg onclick="window.history.back()" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
        </br>
        <h6>Volver</h6> 
    </div>
{% endblock %}