{% extends 'SSO/base_admin.html' %}
{% load auth_extras %}
{% load crispy_forms_tags %}

{% block title %}Proyectos de Sistema {% endblock %}

{% block content %}
    <style>
        [data-toggle="collapse"] .fa:before {
            content: "\f077";

        }

        [data-toggle="collapse"].collapsed .fa:before {
            content: "\f078";

        }
    </style>
    <div class="container my-3">
        <div class="row">
            <h3 class="col-12 col-md-10">Proyectos de Sistema</h3>
            <!-- Falta agregar condicion para que esta opcion no se muestre si no se tiene el permiso -->
        </div>
            <hr>
        {% if messages %}

                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                {% endif %}

                {% endfor %}

        {% endif %}

        <div id="crearProyecto" class="col-10 mx-auto">
            {% for proyecto in proyectos %}
                <div class="card" style="margin:10px">
                    <div class="card-header bg-color-primary" id="header_proyecto_{{ proyecto.id }}">
                        <div class="row">
                            <div class="col-auto mr-auto">
                                {{proyecto.nombre}}
                            </div>
                            <div>
                                <!-- <a href="" class="btn bg-color-accent text-white font-weight-bold btn-sm">
                                    <i class="fas fa-eye"></i>
                                    &nbsp Visualizar
                                </a> -->
                            </div>
                        </div>
                    </div>
                    <div id="collapse_proyecto_{{ proyecto.id }}" class="" aria-labelledby="header_proyecto_{{ proyecto.id }}" data-parent="#listarProyectos">
                        <div class="card-body row">
                            <div class="col-12 "><u>Descripción: </u><p>{{ proyecto.descripcion }}</p>
                            </div>
                        </div>
                        
                    </div>
                    <div id="collapse_proyecto_{{ proyecto.id }}" class="" aria-labelledby="header_proyecto_{{ proyecto.id }}" data-parent="#listarProyectos">
                        <div class="card-body row">
                            <div class="col-12 "><u>Scrum Master: </u><p>{{ proyecto.scrumMaster }}</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}