{% extends 'SSO/base_usuarios.html' %}
{% load auth_extras %}
{% load crispy_forms_tags %}

{% block title %}Proyectos Asignados{% endblock %}

{% block content %}
    <style>
        [data-toggle="collapse"] .fa:before {
            content: "\f077";

        }

        [data-toggle="collapse"].collapsed .fa:before {
            content: "\f078";

        }
    </style>
    <div class="container my-3">
        <div class="row">
            <h3 class="col-12 col-md-10">Proyectos Asignados</h3>
            <!-- Falta agregar condicion para que esta opcion no se muestre si no se tiene el permiso -->
        </div>
            <hr>
        {% if messages %}

                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                {% endif %}

                {% endfor %}

        {% endif %}

        <div id="mostrarProyecto" class="col-10 mx-auto">
          
                {% for p in proyectoActual_miembro %}
                    <div class="card" style="margin:10px">
                        <div class="card-header bg-color-primary" id="header_p_{{ p.id }}">
                            <div class="row">
                                <div class="col-auto mr-auto">
                                    {{p.get_id_proyecto}}
                                </div>
                            </div>
                        </div>
                        <div id="collapse_proyecto_{{ p.id }}" class="" aria-labelledby="header_p_{{ p.id }}" data-parent="#mostrarUnProyecto">
                            <div class="card-body row">
                                <div class="col-12 "><u>Rol: </u><p>{{p.rol }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
           
        </div>
    </div>
{% endblock %}