{% extends 'SSO/base_admin.html' %}
{% load auth_extras %}
{% load crispy_forms_tags %}

{% block title %}Proyectos de Sistema {% endblock %}

{% block content %}
    <div class="row">
        <div class="col flex-justify-center">
            {% if proyecto.scrumMaster == request.user %}
            <a href="{% url 'asignar_miembro' proyecto.id %}" class="btn btn-primary ml-3 bg-color-danger border-0">Asignar miembros</a>
            <a href="{% url 'asignar_miembro' proyecto.id %}" class="btn btn-primary ml-3 bg-color-danger border-0">Crear user story(m)</a>
            <a href="{% url 'asignar_miembro' proyecto.id %}" class="btn btn-primary ml-3 bg-color-danger border-0">Crear sprint(m)</a>
            <a href="{% url 'asignar_miembro' proyecto.id %}" class="btn btn-primary ml-3 bg-color-danger border-0">Crear tipo de user story(m)</a>
            <a href="{% url 'asignar_miembro' proyecto.id %}" class="btn btn-primary ml-3 bg-color-danger border-0">Importar tipo de user story(m)</a>
            <a href="{% url 'importarRol' proyecto.id %}" class="btn btn-primary ml-3 bg-color-danger border-0">Importar Rol</a>
            {% endif %}
        </div>
    </div>
    <div class="card my-4">
        <div class="card-header  bg-color-primary">Proyecto #{{proyecto.id}}
            {% if proyecto.estado == 'En Planificacion' %}
            <a href="{% url 'iniciarProyecto' proyecto.id %}" class="ml-3 bg-color-danger border-0">Iniciar Proyecto</a>
            {% endif %}
            {% if proyecto.estado == 'En Curso' %}
            <a href="{% url 'cancelarProyecto' proyecto.id %}" class="ml-3 bg-color-danger border-0">Cancelar Proyecto</a>
            {% endif %}
        </div>
        <div class="card-body">
            <h6 class="card-title">Nombre: {{proyecto.nombre}}</h6>
            <h6 class="card-text">Descripcion: {{proyecto.descripcion}}</h6>
            <h6 class="card-text">Scrummaster: {{proyecto.scrumMaster}}</h6>
            <h6 class="card-text">Estado: {{proyecto.estado}}</h6>

        </div>
        <div class="card-body">
            <h6>Miembros del proyecto:</h6>
            <ul class="list-group list-group-flush">
                {% for miembro in proyecto.miembros.all %}
                    <li class="list-group-item">{{miembro}}
                        <a href="{% url 'asignarRol' proyecto.id miembro.id %}" class="ml-3 bg-color-danger border-0">Asignar Rol</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}