{% extends 'SSO/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Configurar SSO{% endblock title %}
{% block content %}

<div class="container mt-3">
      <div class="row">

        <h3>Configurar Single Sign On</h3>

        <hr class="col-12">

        <form method="POST" class="col-12 col-md-10 mx-auto row border bg-white py-4 rounded">
            {% csrf_token %}
            <div class=" col-12 text-muted mb-4 font-italic">Ingrese el client_id y el secret para poder conectarse al SSO</div>
            <div class="col-12 col-md-10 mx-auto">{{form|crispy }}</div>
            <button type="submit" class="btn btn-primary bg-color-accent col-8 col-md-5 mx-auto">Guardar Cambios</button>
            <a href="{% url 'login' %}" class='col-md-5 btn btn-danger bg-color-danger'> Cancelar </a> <hr>
        </form>    




      </div>
</div>




{% endblock %}




