<nav class="navbar navbar-expand-lg" style="background-color:#196d46 ">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}" style="color: white;">
      Gestor de Proyectos
    </a> 
    {# referencia a home #}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style= "position:absolute; left:400px;">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            Roles
          </a>
         <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/crearRol/">Crear Rol</a></li>
            <li><a class="dropdown-item" href="/listarRol/">Listar Roles</a></li>
          </ul>
       </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
            Proyectos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'crearProyecto' %}">Crear Proyecto</a></li>
            <li><a class="dropdown-item" href="{% url 'listarProyectos' %}">Visualizar proyectos</a></li>
          </ul>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
             Usuarios
            </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'lista_users' %}">Lista de Usuarios</a></li>
            <li><a class="dropdown-item" href="{% url 'index_eliminar'  %}"">Eliminar Usuario</a></li>
          </ul>
      </ul>
    
    </div>

    
    <div class="icon" id="bell"> <img src="https://i.imgur.com/AC7dgLA.png" alt="">
    </div>
    

    <div class="notifications" id="box">
      <h2>Notificaciones</h2>
      <div class="notifications-box"></div>
      <div class="notifications-item">
          <div class="text">
              <h4><a  id="notification-url" href="{% url 'notificaciones' request.user.username %}" hidden > Ver todas las notificaciones</a></h4>
              <h4><a  id="notification-url" href="{% url 'lista_notis' request.user.username %}"> Ver todas las notificaciones</a></h4>
            </div>
      </div>
  </div>

      <a href="{% url 'account_logout' %}" class="btn btn-danger text-white" >Cerrar Sesión</a>
  </div>  
</nav>

<style>

  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
  *{padding: 0px;margin: 0px}
  
  
  .nav{display: flex;align-items: center;background: #AB47BC;height: 60px;position: relative;border-bottom: 1px solid #495057}
  .icon{cursor: pointer;margin-right: -1000px;line-height: 60px}
  .icon span{background: #f00;padding: 7px;border-radius: 50%;color: #fff;vertical-align: top;margin-left: -25px}
  .icon img{display: inline-block;width: 30px;margin: 4px}
  .icon:hover{opacity: .7}.logo{flex: 1;margin-left: 50px;color: #eee;font-size: 20px;font-family: monospace}
  .notifications{width: 300px;height: 0px;opacity: 0;position: absolute;top: 63px;right: 62px;border-radius: 5px 0px 5px 5px;background-color: #fff;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)}
  .notifications h2{font-size: 14px;padding: 10px;border-bottom: 1px solid #eee;color: #999}.notifications h2 span{color: #f00}.notifications-item{display: flex;border-bottom: 1px solid #eee;padding: 6px 9px;margin-bottom: 0px;cursor: pointer}
  .notifications-item:hover{background-color: #eee}.notifications-item img{display: block;width: 50px;height: 50px;margin-right: 9px;border-radius: 50%;margin-top: 2px}.notifications-item .text h4{color: #777;font-size: 16px;margin-top: 3px}
  .notifications-item .text p{color: #aaa;font-size: 12px}
  </style>
  
  <script>
    $(document).ready(function(){
      var down = false;
      
      $('#bell').click(function(e){
          var color = $(this).text();
          if(down){
              
              $('#box').css('height','0px');
              $('#box').css('opacity','0');
              down = false;
          }else{
              
              $('#box').css('height','auto');
              $('#box').css('opacity','1');
              down = true;
              
          }
      });
  
    const url = document.querySelector("#notification-url").href
    setTimeout(() => {
      fetch(url)
        .then(data => data.json())
        .then(data => {
          for (let notificacion of data) {
            const el = document.createElement("div")
            el.className = "notifications-item"
            el.innerHTML = `<div class="text">
              <h4>${notificacion.mensaje}</h4>
              <p>${notificacion.proyecto}</p>
            </div>
            `
            // append to first child
            document.querySelector(".notifications-box").appendChild(el)
          }
        })
    }, 1000);
          
    });
  </script>