<nav class="navbar navbar-expand-lg" style="background-color:#196d46 ">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}" style="color: white;">
      Gestor de Proyectos
    </a> 
    {# referencia a home #}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style= "position:absolute; left:400px;">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            Roles
          </a>
         <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Crear Rol</a></li>
            <li><a class="dropdown-item" href="#">Asignar Rol</a></li>
            <li><a class="dropdown-item" href="#">Listar Roles</a></li>
            <li><a class="dropdown-item" href="#">Importar Roles</a></li>
          </ul>
       </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
            Proyectos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Crear Proyecto</a></li>
            <li><a class="dropdown-item" href="#">Asignar miembros</a></li>
            <li><a class="dropdown-item" href="#">Visualizar proyectos</a></li>
          </ul>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
             Usuarios
            </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'lista_users' %}">Lista de Usuarios</a></li>
            <li><a class="dropdown-item" href="{% url 'index_eliminar'  %}"">Eliminar Usuario</a></li>
          </ul>
      </ul>
    </div>
    <div>
        {# Boton para cerrar sesion #}
        <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}">
        {% endif %}
          <button type="submit" class="btn btn-danger" style="color: white">Cerrar Sesión</button>
        </form>
    </div>
    
     
  </div>  
</nav>