
<nav class="navbar navbar-dark navbar-expand-lg" style="background-color:#196d46">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand text-white" href="{% url 'home' %}">
      Gestor de Proyectos
    </a>  
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li><a class="nav-item" href="{% url 'listarProyectosUser' %}" style="color:#cdeadd">Proyectos Asignados</a></li>
    </ul>
    <a href="{% url 'account_logout' %}" class="btn btn-danger text-white" >Cerrar Sesión</a>
  </div>
</nav>