{% extends 'SSO/base_usuarios.html' %}
{% load crispy_forms_tags %}
{%  load static %}
{% block title %}Nuevo Tipo de US{% endblock %}
{% block content %}
<h3>Crear nuevo tipo de User Story</h3><hr>
        <form method="POST" class="col-12 col-md-8 mx-auto border rounded bg-white p-4">
            <p style="color: gray;">*Los estados Kanban : 'Pendiente'-'En curso'-'Finalizado' son obligatorios</p>
            {% csrf_token %}
            {{ form|crispy }}
        </br>
        <a href="{% url 'crear_estado' proyecto.id %}" class="btn btn-outline-info"">Crear Estado de Kanban</a>
       </br>
        </br>
        <div style="text-align:center">
            <button class="btn btn-primary bg-color-accent col-5" type="submit">Crear</button>
            <a href="{% url 'mostrarProyecto' proyecto.id %}" class="btn btn-danger col-5">Cancelar</a>
        </div>
        </form>
    </div>
{% endblock %}