{% extends 'SSO/base_usuarios.html' %}
{% block title %}Eliminar Tipo de US del proyecto{% endblock %}
{% block content %}
<!-- {% include 'SSO/NavBar_admin.html' %} -->  
    <div class="container mt-3">
        <h3 class="col-12">¿Esta seguro que desea eliminar el tipo de User Story '{{tipoUS.nombre}}' del proyecto?</h3>
            
                <form method="POST" class="col-auto mx-auto">
                    {% csrf_token %}
                    <input  type="submit" class="btn btn-primary mr-3 border-0 bg-color-accent" value="Eliminar">
                    <a href="{% url 'listarTipoUS' proyecto.id %}" class="btn btn-danger ml-3 bg-color-danger border-0">Cancelar </a>
                </form>
               
        </div>
    </div>
{% endblock %}