{% extends 'SSO/base_usuarios.html' %}
{% load crispy_forms_tags %}
{%  load static %}
{% block title %}Importar Tipos de User Stories{% endblock %}
{% block content %}

    <div class="container mt-3">
        <h3>Importar Tipos de User Stories</h3><hr>
        {%  if mensajeError %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error</h4>
                <p>{{mensajeError}}</p>
            </div>
        {% endif %}
       <div>
            <div class="col-2" style="margin: 10px">
                {% for t in tipos%}
                <div>
                   <div class="row"> 
                        {{t.nombre}}
                   </div>
                    <a data-toggle="collapse" style="color: blue;"
                    onclick="document.getElementById('t-{{t.id}}').classList.toggle('show');"
                    role="button" aria-expanded="false" aria-controls="t-{{t.id}}">Ver Estados Kanban</a>
                    <div class="collapse" id="t-{{t.id}}">
                        <div class="col-11 row">
                            {% for e in t.estados_kanban.all %}
                                <p class="mx-1"><span class="">{{ e.nombre }}</span></p>
                            {% endfor %}
                        </div>
                    </div>  
                {% endfor %}
            </div>   
       
        </div>     
        <hr>        
        <form method="POST" class="col-12 col-md-8 mx-auto border rounded bg-white p-4">
            {% csrf_token %}
            {{ form|crispy }}
        </br>
            <div style="text-align:center">
                <button class="btn btn-primary bg-color-accent col-5" type="submit">Importar</button>
                <a href="{% url 'mostrarProyecto' proyecto.id %}" class="btn btn-danger col-5">Cancelar</a>
            </div>       
        </form>
    </div>
{% endblock %}