{% extends 'SSO/base_usuarios.html' %}
{% load crispy_forms_tags %}
{%  load static %}
{% block title %}Nuevo Estado Kanban{% endblock %}
{% block content %}

<div class="container-fluid pt-3">
    <h3 class="font-weight-light text-white">Kanban Board</h3>
    <div class="small  text-light">Drag and drop between swim lanes</div>
    <div class="row flex-row flex-sm-nowrap py-3">
        {% for estado in estados %} 
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <h6 class="card-title text-uppercase text-truncate py-2">{{estado}}</h6>
                        {% for userstory in userstories %}
                            {% if userstory.estado == estado %}
                            <div class="items border border-light">
                                <div class="card draggable shadow-sm" id="cd1" draggable="true" ondragstart="drag(event)">
                                    <div class="card-body p-2">
                                        <div class="card-title">
                                            <img src="//via.placeholder.com/30" class="rounded-circle float-right">
                                            <a href="" class="lead font-weight-light">
                                                {{userstory.nombre}}
                                            </a>
                                        </div>
                                        <p>
                                            {{userstory.descripcion}}
                                        </p>
                                        <button class="btn btn-primary btn-sm">View</button>
                                    </div>
                                </div>
                            </div> 
                            {% endif %} 
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
