{% extends 'SSO/base_usuarios.html' %}
{% load auth_extras %}

{# se carga head #}
{% block title %}
    Usuarios
{% endblock %}

{# body #}
{% block content %}

<div>
    <div>
        <h2> User Stories del Proyecto</h2>
    </div>
         <div>
             <table class="table">
                 <thead class="table-light">
                     <tr>
                          <th>Nombre</th>
                     </tr>
                 </thead>
                 <tbody>
                      {% for us in us %}
                          <tr>
                              <td>{{ us.nombre }}</td>
                            
                             
                    
            
                          </tr>
                      {% endfor %}
                 </tbody>
             </table>
         </div>
  </div>

{% endblock %}