{% extends 'SSO/base_usuarios.html' %}
{% load auth_extras %}
{% load crispy_forms_tags %}

{% block title %} Sprint {% endblock %}

{% block content %}

    <div class="row">
        <h3 
            class="col-12 col-md-10">Sprint del Proyecto "{{proyecto.nombre}}"
        </h3>
    </div>
    <hr>
    <div id="lista_sprint" class="">
        <div class="my-4">
            {% for sprint in sprint %}
                <div class="card" style="margin:10px">
                    <div id="collapse_sprint_{{ id_sprint }}" class="" aria-labelledby="header_sprint_{{ id_sprint }}" data-parent="#lista_sprint">
                        <div class="card-header  bg-color-primary">Sprint #{{sprint.id}}
                            {% if hayPlanificacion and not hayCurso %}
                                {% if sprint.estado_sprint == 'En Planificacion' and sprint.tiene_miembro and sprint.tiene_us %}
                                <a href="{% url 'iniciarSprint' sprint.id %}" class="btn btn-outline-dark m-2">Iniciar Sprint</a>
                                {% endif %}
                            {% endif %}
                            {% if sprint.estado_sprint == 'En Curso' %}
                            <a href="{% url 'cancelarSprint' sprint.id %}" class="btn btn-outline-dark m-2">Cancelar Sprint</a>
                            {% endif %}
                            {% if sprint.estado_sprint == 'En Planificacion' or sprint.estado_sprint == 'En Curso'%}
                            <a href="{% url 'modificarSprint' sprint.id_proyecto sprint.id %}" class="btn btn-primary ml-3 bg-color-danger border-0">Modificar Sprint</a>
                            <a href="{% url 'asignarMiembroSprint' sprint.id %}" class="btn btn-primary ml-3 bg-color-danger border-0">Asignar Miembros</a>
                            {% endif %}
                            <a href="{% url 'sprintbacklog' sprint.id  %}" class="btn btn-primary ml-3 bg-color-danger border-0">Sprint Backlog</a>
                        </div>

                        <div class="card-body row">
                            <div class="col-12 "><u>Nombre: </u><p>{{ sprint.nombre_sprint }}</p> </div>
                            <div class="col-12 "><u>Fecha de creación: </u><p>{{ sprint.fecha_creacion }}</p> </div>
                            <div class="col-12 "><u>Fecha de inicio: </u><p>{{ sprint.fecha_inicio }}</p> </div>
                            <div class="col-12 "><u>Fecha de finalización: </u><p>{{ sprint.fecha_fin }}</p> </div>
                            <div class="col-12 "><u>Descripción: </u><p>{{ sprint.descripcion }}</p> </div>
                            <div class="col-12 "><u>Capacidad del Sprint: </u><p>{{ sprint.capacidad }} horas</p> </div>
                            <div class="col-12 "><u>Estado: </u><p>{{ sprint.estado_sprint }}</p> </div>
                            <div class="col-12 "><u>Capacidad del Equipo: </u><p>{{ sprint.capacidad_equipo }} horas</p> </div>
                        </div>
                        <div class="card-body">
                            <h6><u>Miembros del Sprint:</u></h6>
                            <ul class="list-group list-group-flush">
                                {% for miembro in sprintMiembros %}
                                    {% if sprint.id == miembro.sprint.id %}
                                        <li class="list-group-item">
                                            - {{miembro.miembro}}
                                            {% if not sprint.estado_sprint == 'Cancelado' %}
                                                <a href="{% url 'asignar_us_miembro' miembro.id %}" class="ml-3 bg-color-danger border-0">Asignar US</a> 
                                            {% endif %}
                                            <h6 class="card-text">Capacidad: {{miembro.capacidad_miembro}}</h6>
                                            <h6 class="card-text">User Storie: {{miembro.us_asignado}}</h6>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}        
        </div>    
    </div>
    </br> 
<a href="{% url 'mostrarProyecto' proyecto.id %}">
    <svg  width="30" height="30" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg>
    </br>
    <h6>Volver</h6> 
</a>
{% endblock %}