{% extends 'SSO/base_admin.html' %}
{% load auth_extras %}

{# se carga head #}
{% block title %}
    Usuarios
{% endblock %}

{# body #}
{% block content %}

<div>
    <div>
        <h2> Usuarios en el sistema</h2>
    </div>
         <div>
             <table class="table">
                 <thead class="table-light">
                     <tr>
                          <th>User</th>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th>Email</th>
                         
                     </tr>
                 </thead>
                 <tbody>
                      {% for u in usuarios %}
                          <tr>
                              <td>{{ u.username }}</td>
                              <td>{{ u.first_name }}</td>
                              <td>{{ u.last_name }}</td>
                              <td>{{ u.email }}</td>
                             
                               <!---Pregunta si es que ya tiene el permisod de acceso al sistema, y si ya tiene , deshabilita el boton-->
                              <td>
                                   {% if  u|has_group:'usuarios' %}
                                     <div class="fa-align-center">
                                          <a href="#" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true">Dar acceso</a>
                                     </div>
                                   {% else %}
                                      <div class="fa-align-center">
                                             <a class="btn btn-primary" href="{% url 'dar_acceso' u.id %}" role="button">Dar acceso</a>
                                      </div>
                                   {% endif %} 
                              </td>
                          </tr>
                      {% endfor %}
                 </tbody>
             </table>
         </div>
  </div>

{% endblock %}