{% extends 'SSO/base_admin.html' %}
{% load auth_extras %}

{# se carga head #}
{% block title %}
    Usuarios
{% endblock %}

{# body #}
{% block content %}

<div>
    <div>
        <h2> Usuarios en el sistema</h2>
        <hr>
    </div>
         </br>
         <div class="col-11 mx-auto">
             <table class="table">
                 <thead class="table-light">
                     <tr>
                          <th>User</th>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th>Email</th>
                          <th>Acceso</th>
                     </tr>
                 </thead>
                 <tbody>
                      {% for u in usuarios %}
                          <tr>
                              <td>{{ u.username }}</td>
                              <td>{{ u.first_name }}</td>
                              <td>{{ u.last_name }}</td>
                              <td>{{ u.email }}</td>
                              
                             
                               <!---Pregunta si es que ya tiene el permisod de acceso al sistema, y si ya tiene , deshabilita el boton--> 
                              <td>
                                   
                                   {% if  u|has_group:'usuarios' %}
                                     <div class="fa-align-center">
                                          <a href="#" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true">Dar acceso</a>
                                     
                                        </div>
                                   {% else %}
                                      <div class="fa-align-center">
                                             <a class="btn btn-primary" href="{% url 'dar_acceso' u.id %}" role="button">Dar acceso</a>
                                      </div>
                                   {% endif %} 
                              </td>
            
                          </tr>
                      {% endfor %}
                 </tbody>
             </table>
         </div>
  </div>
    </br> 
    <div class="col-11 mx-auto">
        <svg onclick="window.history.back()" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
        </br>
        <h6>Volver</h6> 
    </div>
{% endblock %}